.nav {
  display: block;
  text-align: center;
  margin: 0 0 20px;
  

  &__button {
    padding: 5px;
    border: 0;
    font-size: 18px;
    font-weight: normal;
    background: transparent;
    margin: 0 10px;
    cursor: pointer;
    color: color(text-alt);
    border: 3px solid transparent;
    border-radius: 8px;

    @media (min-width: breakpoint(md)){
      padding: 10px;
      margin: 0 10px;
    }
    

    &:focus {
      outline: none;
      border-color: color(border);
    }

    &--active {
      font-weight: bold;
    }
  }
}