// COLOURS
$colors: (
  bg: #33acb5,
  bg-alt: #fff,
  text: #cdf7fa,
  text-alt: #ffffff,
  text-on-alt: #bdbdbd,
  border: #cdf7fa,
  player: #000
);

// LAYOUT
$breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px 
);